.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 60px; 
}

#form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
}

#form-container h1 {
    text-align: center;
    color: #4caf50;
    margin-bottom: 20px;
}

#form-container form {
    display: flex;
    flex-direction: column;
}

#form-container label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

#form-container input, #form-container select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#form-container button {
    padding: 10px 20px; 
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    
}


#product-form {
    display: flex;
    justify-content: space-between;
    
}

