body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

.input-wrapper {
    margin-bottom: 20px;
}

.input-wrapper label {
    display: block;
    margin-bottom: 5px;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="number"] {
    width: calc(100% - 10px); /* Subtraímos 10px para levar em conta a largura da borda */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#mensagem {
    margin-top: 20px;
    font-weight: bold;
}
